body{
    margin: 0;
    padding: 0;
    font-family: 'Hack', 'Noto Sans S Chinese', 'Lantinghei SC', 'Arial', sans-serif, 'Microsoft Yahei';
}

.h5_page{
    overflow: hidden;
    background-position: center;
    background-image: url(../assets/bg.webp);
    background-size: inherit;
}
.h5_page_face{
    background-image: url(../assets/bg.webp);
}

@-webkit-keyframes uniformlyRotating {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translate3d(0,0,0) rotate(-360deg);
        transform: translate3d(0,0,0) rotate(-360deg)
    }

    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translate3d(0,0,0) rotate(0deg);
        transform: translate3d(0,0,0) rotate(0deg)
    }
}

 .music-btn {
     position: absolute;
     top: 30px;
     right: 30px;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, .3);
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
  }
  
 .music-btn img {
     width: 100%;
  }
  
 .music-btn img.uniformlyRotating {
    animation: uniformlyRotating 1000ms linear 0ms infinite forwards;
  }

@keyframes uniformlyRotating {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translate3d(0,0,0) rotate(-360deg);
        transform: translate3d(0,0,0) rotate(-360deg)
    }

    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translate3d(0,0,0) rotate(0deg);
        transform: translate3d(0,0,0) rotate(0deg)
    }
}


input,
label,
select,
textarea {
    display: block;
    font-size: inherit;
    width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
    display: inline-block;
    font-weight: normal;
    position: relative;
    top: 1px;
}

input,
select,
textarea {
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 0.4rem 0.8rem;
}

input[readonly],
textarea[readonly] {
    background-color: #e9e9e9;
}

label {
    font-weight: bold;
    margin-bottom: 0.2rem;
}
